@{
    ViewBag.Title = "Contact";
}

    @*<div id="wrapper">*@
        <!-- Page Content -->
        @*<div id="page-content-wrapper">
            <div class="container-fluid">*@
                @*<div class="container">*@

                @*<div class="row">*@
                    @*<div class="col-lg-12">*@
                        @*<h1>Tenecia A Guinea</h1>
                        <h2>Contact</h2>
                        <div id="contact-paragraph" class="paragraph-wrapper">
                            <p>4155 Ardmore Road</p>
                            <p>South Euclid, OH 44121</p>
                            <p>P: 216-254-1608</p>
                            <p>email: <a href="mailto:aja.guinea@gmail.com">aja.guinea@gmail.com</a></p>
                            <p>LinkedIn:  <a href="https://www.linkedin.com/in/tenecia-guinea-484864bb" >in/tenecia-guinea-484864bb</a></p>
                            <p>GitHub: <a href="https://github.com/Tenecia">github.com/Tenecia</a></p>

                        </div> 
                        <div id="contactphoto">
                            <img id="imgcontact" src="/images/LinkedInPhoto.jpg" />
                        </div>                       
                    </div>
                </div>
            </div>
        </div>*@
<div id="wrapper">
    <div id="page-content-wrapper">
        <!-- Page Content -->
        <div class="container">
            <div class="container-fluid">
                <!-- Page Heading/Breadcrumbs -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header hover">
                            Tenecia A. Guinea
                            <small></small>
                        </h1>
                        @*<ol class="breadcrumb">*@
                        @*<li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="active">Contact</li>
                            </ol>*@
                    </div>
                </div>
                <!-- /.row -->
                <!-- Content Row -->
                <div class="row">
                    <!-- Map Column -->
                    <div class="col-md-8">
                        <!-- Embedded Google Map -->
                        <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
                    </div>
                    <!-- Contact Details Column -->
                    <div class="col-md-4">
                        <h3>Contact Details</h3>
                        <p>
                            4155 Ardmore Road<br>South Euclid, OH 44121<br>
                        </p>
                        <p>
                            <i class="fa fa-phone"></i>
                            <abbr title="Phone">P</abbr>: (216) 254-1608
                        </p>
                        <p>
                            <i class="fa fa-envelope-o"></i>
                            <abbr title="Email">E</abbr>: <a href="mailto:aja.guinea@gmail.com">aja.guinea@gmail.com</a>
                        </p>
                        <p>
                            <i class="fa fa-clock-o"></i>
                            @*<abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM*@
                        </p>
                        <ul class="list-unstyled list-inline list-social-icons">
                            
                            <li>
                                <a href="http://www.linkedin.com/in/tenecia-guinea-484864bb" >
                                    <img src="~/images/LogoLinkedin.png" /></a>
                            </li>
                            
                            <li>
                                <a href="#" ><i class="fa fa-google-plus-square fa-2x" ></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>       
    <!-- /#wrapper -->
<script>
    
        $("#page-content-wrapper").fadeIn("");
    
</script>
